body {
  margin: 4vh 8vh;
  background: #000;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  color: #444;
  font-size: 1.7vh;
  height: 75vh;
}

.beer {
  color: #fff;
  padding-left: 6em;
  position: relative;
}

.price-wrapper {
  position: absolute;
  top: 2.8em;
  left: -1.15em;
  color: #fff;


  width: 2.5em;
  height: 2.5em;
  padding: 0.3em;
  border-radius: 50%;
  background: #000;
  /* border: 2px solid #444; */
}

.price {
  position: absolute;
  top: -0.1em;
  left: 0;
  font-size: 2.6em;
  font-family: 'Shrikhand', cursive;
}

.price::before {
  content: '$';
  font-family: 'Quicksand', sans-serif;
  font-size: 0.6em;
}

.size {
  position: absolute;
  bottom: -0.4em;
  left: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

object.glass-icon {
  position: absolute;
  top: 0.65em;
  left: 1.2em;
  height: 5em;
}

.beer h1 {
  color: #eee;
  margin: 0;
  font-size: 3.2em;
  font-weight: normal;
  font-family: 'Amatic SC', cursive;
}

.beer h2 {
  color: #eee;
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
  display: inline;
  vertical-align: top;
}

.abv {
  display: inline-block;
  font-size: 1.4em;
  margin-left: 0.25em;
  margin-top: 0.1em;
  vertical-align: top;
  color: #ffffce;
}

.abv::before {
  content: '–';
  margin-right: 0.3em;
}

.abv::after {
  content: '%';
}

.assorted-price-wrapper {
  display: inline-block;
  margin-top: 0.5em;
}

.assorted-price {
  position: relative;
  display: inline;
  margin-left: 1.5rem;
  margin-right: 1.5em;
  font-size: 1.25em;
  font-family: 'Shrikhand', cursive;
}

.assorted-price::before {
  content: '$';
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8em;
}

.assorted-price::after {
  position: absolute;
  top: -0.8rem;
  left: -0.3rem;
  font-size: 1rem;
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
}

.price-10oz::after {
  content: '10oz';
}

.price-12oz::after {
  content: '12oz';
}

.price-16oz::after {
  content: '10oz';
}

.price-16oz::after {
  content: '10oz';
}

.price-crowler::after {
  content: 'crowler';
}

.price-growler::after {
  content: 'growler';
}

.hidden {
  display: none;
}

img.main-logo {
  position: fixed;
  bottom: 1em;

  left: calc(50vw - 12.5vw) ;

  width: 25vw;
}
/*

.announce-section {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70vw;
  height: 18vh;
}

*/

.flights {
  font-size: 1.7vh;
  position: absolute;
  bottom: 4.2em;
  left: 4.3em;
  padding-left: 10em;
}

.flights p {
  font-size: 1.4em;
  margin: 0.25em 0;
}

.flights .catch-line {
  color: #ffffce;
  font-size: 1.6em;
}

.flights .glass-icon {
  position: relative;
  position: absolute;
  top: -1.5em;

  height: 7em;
  display: inline-block;
}

.flights .glass-icon-1 {
  left: calc(1.48 * 3em);
  top: calc(-1.5em + (0.15em * 3));
  height: calc(7em - (0.22em * 3));
}

.flights .glass-icon-2 {
  left: calc(1.48 * 2em);
  top: calc(-1.5em + (0.15em * 2));
  height: calc(7em - (0.22em * 2));
}

.flights .glass-icon-3 {
  left: calc(1.48 * 1em);
  top: calc(-1.5em + (0.15em * 1));
  height: calc(7em - (0.22em * 1));
}

.flights .glass-icon-4 {
  left: 0em;
}

.flights .price-wrapper {
  top: 2.2em;
  left: 0.05em;
  width: 2.5em;
  height: 2.5em;
}

.flights .price {
  top: -0.05em;
  left: -0.6em;
}

.taproom-notes {
  position: absolute;
  right: 4.9em;
  bottom: 2.8em;
  font-size: 2vh;
}

.taproom-notes div {
  margin-bottom: 0.5em;
}

.taproom-notes div b {
  color: #ffffce;
  font-size: 1.2em;
}
